<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esms.mapper.UserMapper">
    <!--查找用户信息-->
    <select id="listUser" resultType="com.esms.entity.User">
        select * from userinfo
    </select>

    <!--根据ID查询用户信息-->
    <select id="getUser" resultType="com.esms.entity.User">
        select * from userinfo where userID = #{userID}
    </select>

    <!--添加用户信息-->
    <insert id="addUser" parameterType="com.esms.entity.User">
        insert into userinfo
        values (#{userID},#{userAccount},#{userName},#{userPassword},#{sex})
    </insert>

    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.esms.entity.User">
        update userinfo set userName = #{userName}, userPassword = #{userPassword} where userId = #{userID}
    </update>

    <!--删除用户信息-->
    <delete id="deleteUser" parameterType="int">
        delete from userinfo where userID = #{userID}
    </delete>
</mapper>